:root {

}

body {
  margin: auto;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: scroll;
  font-family: andika;
}

@font-face {
  font-family: neonLib;
  src: url(library3am.otf);
}

@font-face {
  font-family: andika;
  src: url(Andika-R.ttf);
}

.neon-text {
  font-family: neonLib;
  font-size: 300%;
  color: #ffd8d8;
  text-shadow:
    .1vw 0vw   0vw #f25757,
    .2vw 0vw   0vw #f25757,
    .4vw 0vw   0vw #f25757,
    .1vw 0vw  .1vw #f25757,
    .2vw 0vw  .1vw #f25757,
    .4vw 0vw  .1vw #f25757,
    .1vw 0vw   2vw #f25757,
    .2vw 0vw   2vw #f25757,
    .4vw 0vw   2vw #f25757,

    .1vw 0vw   1vw #e50b0b,
    .2vw 0vw   1vw #e50b0b,
    .4vw 0vw   5vw #e50b0b,
    .1vw 0vw   5vw #e50b0b,
    .2vw 0vw  15vw #e50b0b,
    .4vw 0vw  6vw #e50b0b;
}

.top-container {
  background: rgb(57,57,57);
  background: radial-gradient(circle, rgba(57,57,57,1) 0%, rgba(67,67,69,1) 0%, rgba(0,0,0,1) 50%);
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  text-align: center;
}

header {
  background: #000000;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  z-index: 1;
}

.links {
  width: 5vh;
  padding: 5px;
  filter: invert(100%);
}

#container {
  background: rgb(57,57,57);
  background: radial-gradient(circle, rgba(57,57,57,1) 0%, rgba(67,67,69,1) 0%, rgba(0,0,0,1) 100%);
}

.page  {
  min-height: 100vh;
  width: 80%;
}

#first {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  grid-gap: 3%;
  align-items: flex-start;
  overflow: visible;
}

/*#aboutpage  {
  padding: 10px;
  background-color: #303030;
  border: 7px solid #000000;
  box-shadow: 0 5px 10px 5px rgba(51,51,51,.5);
  color: #dedede;
}*/


@media only screen and (min-width: 900px) {
  #first {
    grid-template-columns: 1fr 1fr;
  }
}

.buttons button {
  background-color: #0E0E0E;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
  0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  padding: 14px 24px;
  transition: 0.3s;
  color: #ffffff;
  font-family: andika;
}

#carou {
  display: grid;
  grid-row: 5fr 1fr 1fr;
  justify-items: center;
  grid-row-gap: 15px;
  margin-top: 50px;
}

#carou img {
 width: 400px;
 height: 400px;
 object-fit: scale-down;
}

#caption {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 5px 10px;
  text-align: center;
  margin: auto;
}

#options {
  margin: 0 auto;
  margin-top: 50px;
  color: #ffffff;

}

.tab {
    overflow: hidden;
    border: 1px solid #333333;
    background-color: #0E0E0E;
}

.tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      width: 33%;
      font-size: 18px;
      transition: 0.3s;
      color: #ffffff;
      font-family: andika;
}

.tab #whyprog {
  width: 34%;
}

button:hover {
    background-color: #923636;
}

button.active {
    background-color: #333333;
}

.tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #333333;
      border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
