:root {

}

body {
  /*background-color: #EEEEEE;*/
  /*background-image: url(jimmy-ofisia-wXN8DQHrpvI-unsplash.jpg);
  background-size: 100vw;*/
  /*background-image: linear-gradient(#EEEEEE, #AAAAAA);*/
  margin: auto;
  padding: 0;
  font-family: serif;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

@font-face {
  font-family: neonLib;
  src: url(library3am.otf);
}

.neon-text {
  font-family: neonLib;
  font-size: 300%;
  color: #ffd8d8;
  text-shadow:
    .1vw 0vw   0vw #f25757, .2vw 0vw   0vw #f25757, .4vw 0vw   0vw #f25757,
    .1vw 0vw  .1vw #f25757, .2vw 0vw  .1vw #f25757, .4vw 0vw  .1vw #f25757,
    .1vw 0vw   2vw #f25757, .2vw 0vw   2vw #f25757, .4vw 0vw   2vw #f25757,

    .1vw 0vw   1vw #e50b0b, .2vw 0vw   1vw #e50b0b, .4vw 0vw   5vw #e50b0b,
    .1vw 0vw   5vw #e50b0b, .2vw 0vw  15vw #e50b0b, .4vw 0vw  6vw #e50b0b;
}

.top-container {
  background: rgb(57,57,57);
  background: radial-gradient(circle, rgba(57,57,57,1) 0%, rgba(67,67,69,1) 0%, rgba(0,0,0,1) 100%);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  text-align: center;
}

header {
  background: grey;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  z-index: 1;
}

.links {
  width: 5vh;
  padding: 10px;
}

/*#container {
  width: 100vw;
  height: 100vh;
}
*/
nav {
  position: fixed;
  top: 50%;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  background: #FFFFFF;
  color: #262626;
  width: 140px;
  margin: 4px 0;
  padding-left: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

ul li a:hover {
  background: #262626;
  color: #FFFFFF;

}

.page  {
  height: 100vh;
}

.buttons {

}

#carou {

}

#carou img {
  border:solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:100%;
  max-width:100%;
}

/*set a size for pictures?*/
.frame {
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  margin:10vh 10vw;
  height:80vh;
  padding:8vmin;
  position: relative;
  text-align: center;

}

.frame::before {
      border-radius:2px;
      bottom:-2vmin;
      box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
      content:"";
      left:-2vmin;
      position:absolute;
      right:-2vmin;
      top:-2vmin;
    }


.frame::after {
      border-radius:2px;
      bottom:-2.5vmin;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
      content:"";
      left:-2.5vmin;
      position:absolute;
      right:-2.5vmin;
      top:-2.5vmin;
    }

.tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
}

.tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      width: 25%;
      font-size: 18px;
      transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
